<!-- header -->
<header class="header">
  <div class="splide" id="splide-footer" aria-labelledby="carousel-heading">
    <div class="splide__track">
      <ul class="splide__list">
        <div class="splide__slide header__item">
          <input type="checkbox" id="item-1" checked />
          <label for="item-1">Versandkostenfrei ab XY €</label>
        </div>
        <div class="splide__slide header__item">
          <input type="checkbox" id="item-2" checked />
          <label for="item-2">Lorem ipsum USP 2</label>
        </div>
        <div class="splide__slide header__item">
          <input type="checkbox" id="item-3" checked />
          <label for="item-3">30 Tage Geld-Zurück-Garantie</label>
        </div>
      </ul>
    </div>
  </div>
</header>
