<!-- mission -->

<section class="mission">
  <div class="mission__top">
    <h2 class="mission__title">
      <span class="mission__first">Mission</span>
      <span class="mission__second">&</span>
      <span class="mission__third">Werte</span>
    </h2>
  </div>
  <div class="mission__content">
    <div class="mission__left">
      <div class="mission__txt">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
          diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd.
        </p>
      </div>
      <a class="mission__btn" href="#">SHOP NOW</a>
    </div>
    <div class="mission__right">
      <img src="images/mission.webp" alt="mission" />
    </div>
  </div>
</section>
