<!-- story -->
<section class="story">
  <div class="story__inner">
    <div class="story__top">
      <h3 class="story__subtitle">Über uns</h3>
      <span class="story__line"></span>
      <h2 class="story__title">Unsere <span>Story</span></h2>
    </div>
    <div class="story__content">
      <div class="story__left">
        <div class="story__text">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed nonumy
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
            diam voluptua. At vero eos et accusam et justo duo dolores et ea
            rebum. Stet clita kasd gubergren
          </p>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd.
          </p>
        </div>
        <a class="story__btn" href="#">MEHR ÜBER UNS</a>
      </div>
      <div class="story__right">
        <img src="images/boy.webp" alt="boy" />
      </div>
    </div>
  </div>
</section>
