/* mission */
.mission {
  padding: 143px 0 209px 0;
}

.mission__top {
  position: relative;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  text-align: center;
  text-transform: uppercase;
}

.mission__first-word {
  color: var(--main-color);
}

.mission__second-word {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--slight-yellow);
}

.mission__third-word {
  color: var(--secondary-color);
}

.mission__content {
  margin-top: 131px;
}
