<!-- mission -->

<section class="mission">
  <div class="mission__top">
    <span class="mission__first-word">Mission</span>
    <span class="mission__second-word">&</span>
    <span class="mission__third-word">Werte</span>
  </div>
  <div class="mission__content">
    <div class="mission__left">
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd.
      </p>
      <a href="#">SHOP NOW</a>
    </div>
    <div class="mission__right"></div>
  </div>
</section>
